<!-- Use this section to demo Azure App Service on Windows and Linux -->
<section class="mainSection">
    <h1 class="pageTitle">Blob Store App</h1>
    <p> Start Uploading your files to blob storage</p>
</section>
